*{
    padding: 0;
    font-size: large;
    box-sizing: border-box;
}
/* .main-container{
    /* margin: 100px auto auto 5% ; 
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
} */
.pagination{
    position: absolute;
    top: 180px;
    left: 150px;

}
.curr_page{
   user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    color: crimson;
    fill: white;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.favorite{
    color:crimson
}
.audio{
    margin: 0;
    padding: 0;
    width: 240px;
}
.MuiCardContent-root{
    padding-left: 5px!important;
}
.name{
    font-size: 3em;
    margin-bottom: 50px;
    color: crimson;
}
.cards{
    padding: 0;
}